<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>面板</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
</head>
<body>
<style>
    /* 这段样式只是用于演示 */
    #LAY-component-grid-list .demo-list .layui-card {
        height: 267px;
    }
</style>

<div class="layui-fluid" id="LAY-component-grid-list">
    <blockquote class="layui-elem-quote layui-table-cell" id="tips">
        备忘录：<a id="tips_content">1、北京宣武医院；2、北京安贞医院。//增加操作流程展示和功能说明。</a>&nbsp;<a class="layui-table-link" href="#" id="edit_tips">编辑</a>
    </blockquote>
    <div class="layui-row layui-col-space10">
        {% for data_item in data_list %}
            <div class="layui-col-md6">
                <div class="layui-card">
                    <div class="layui-card-header">{{ data_item.data_name }}</div>
                    <div class="layui-card-body" style="min-height: 100px;">
                        <div class="layui-form">
                            <table class="layui-table">
                                <colgroup>
                                    <col width="50%">
                                    <col width="50%">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>功能名称</th>
                                    <th>关键数据</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for menu_item in data_item.data_items %}
                                    <tr>
                                        <td class="layui-table-cell"><a class="layui-table-link"
                                                                        href="{{ menu_item.url }}"
                                                                        target="{{ menu_item.target }}">{{ menu_item.data_name }}</a>
                                        </td>
                                        <td></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js"></script>

<script>
    function newTab(url, tit) {
        if (top.layui.index) {
            top.layui.index.openTabsPage(url, tit)
        } else {
            window.open(url)
        }
    }
</script>

<script>
    layui.use('layer', function (){
        var layer = layui.layer;
        var $ = layui.$;

        $('#edit_tips').click(function (){
            layer.prompt(function (val, index){
                $('#tips_content').text(val);
                layer.msg('修改成功');
                layer.close(index);
            });
        })
    })

</script>
</body>
</html>