<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>审核依据</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">

    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <link rel="stylesheet" href="/static/phhc/css/global.css" media="all">
    <link rel="stylesheet" href="/static/phhc/css/phhc.css" media="all">
</head>
<body>
<div class="layui-fluid" style=" min-width:1190px;">
    <div class="layui-row">
        <div class="layui-col-md2" style="border-right: 1px solid #eee;">
            <div class="layui-card">
                <div class="site-tree">
                    <ul class="layui-tree">
                        <!-- 若无当前选项，在后台处理默认第一项 -->
                        <!-- 若存在当前选项，则以当前选项为准 -->
                        <!-- 若存在当前选项，但管理维度中无当前选项，认为传入参数错误，暂时无内容 -->
                        {% for manage_index in manage_index_list %}
                        {% if curr_manage_index == manage_index %}
                        <li><h2 style="margin:0px;">{{ manage_index }}</h2></li>
                        {% else %}
                        <li class="site-tree-noicon">
                            <a href="/rule/cus_rules/many_obj_condi_conclu/?auditItem={{audit_item_name}}&curr_manage_index={{ manage_index }}">
                                <cite>{{ manage_index }}</cite>
                                <em></em>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-md10">
            <div class="layui-card">
                <div class="layui-card-header">{{ curr_manage_index }}
                    <!--                    <div class="layui-inline" style="float:right">-->
                    <!--                        <button class="layui-btn layui-btn-primary layui-btn-sm"-->
                    <!--                                onclick="newTab('/rule/cus_rules/index','')">返回列表-->
                    <!--                        </button>-->
                    <!--                    </div>-->
                </div>
                <div class="layui-card-body">
                    <div class="layui-tab layui-tab-card">
                        <ul class="layui-tab-title">
                            <!--                            <li class="layui-this">按全院管理</li>-->
                            <!--                            <li>按就诊类别管理</li>-->
                            <!--                            <li>按科室管理</li>-->
                            <!--                            <li>按药品管理</li>-->

                            <li class="layui-this">用户规则</li>
                            <li style=" display:none;">系统规则</li>
                            <!--                            <li>按科室管理</li>-->
                            <!--                            <li>按药品管理</li>-->
                        </ul>
                        <div class="layui-tab-content" style=" min-height:400px;">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                     style="padding:0px;">
                                    <div class="layui-form-item">
                                        {% for search_condition in search_condition_list %}
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width:100px;">{{search_condition.name}}</label>
                                            <div class="layui-input-inline">
                                                {% if search_condition.input_type == '输入框' %}
                                                <input type="text" name="{{search_condition.code}}" placeholder="请输入"
                                                       autocomplete="off"
                                                       class="layui-input">
                                                {% elif search_condition.input_type == '下拉列表框' %}
                                                {% if search_condition.name == '状态' %}
                                                <select name="modules" name="{{search_condition.code}}" lay-search="">
                                                    <option value=""></option>
                                                    <option value="1">启用</option>
                                                    <option value="0">停用</option>
                                                </select>
                                                {% elif search_condition.name == '级别' %}
                                                <select name="modules" name="{{search_condition.code}}" lay-search="">
                                                    <option value=""></option>
                                                    <option value="1">提示</option>
                                                    <option value="2">警告</option>
                                                    <option value="3">强制</option>
                                                </select>
                                                {% elif search_condition.name == '依据' %}
                                                <select name="modules" name="{{search_condition.code}}" lay-search="">
                                                    <option value=""></option>
                                                    <option value="1">说明书</option>
                                                    <option value="2">院内药事会</option>
                                                </select>
                                                {% endif %}
                                                {% elif search_condition.input_type == '日期区间' %}
                                                <input type="text" name="{{search_condition.code}}" placeholder="请输入"
                                                       autocomplete="off"
                                                       class="layui-input">
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="layui-inline">
                                            <button class="layui-btn layui-btn-sm" lay-submit=""
                                                    lay-filter="LAY-app-contlist-search">
                                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                            </button>
                                            <!--                                            <button class="layui-btn layui-btn-primary layui-btn-sm"-->
                                            <!--                                                    id="btn_search_more">更多-->
                                            <!--                                            </button>-->
                                        </div>
                                        <div class="layui-inline" style=" display:none;"
                                             id="div_search_more">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-card-body" style="padding:10px 0px 0px 0px;">
                                    <table class="layui-hide" id="data_list"
                                           lay-filter="data_list"></table>
                                    <script type="text/html" id="barDemo">
                                        <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>
                                        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                                    </script>
                                    <script type="text/html" id="test-table-toolbar-toolbarDemo">
                                        <div class="layui-btn-container">
                                            <button class="layui-btn layui-btn-sm" id="add_rule">
                                                新增规则
                                            </button>
<!--                                            <button class="layui-btn layui-btn-sm" id="add_rule_batch">-->
<!--                                                批量新增规则-->
<!--                                            </button>-->
                                            <button class="layui-btn layui-btn-sm"
                                                    lay-event="set_disable_batch"> 设置停用
                                            </button>
                                            <button class="layui-btn layui-btn-sm"
                                                    lay-event="set_enable_batch"> 设置启用
                                            </button>
                                            <button class="layui-btn layui-btn-danger layui-btn-sm"
                                                    lay-event="del_batch"> 删除
                                            </button>
                                        </div>
                                    </script>
                                </div>
                            </div>
                            <div class="layui-tab-item">
                                <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                     style="padding:0px;">
                                    <div class="layui-form-item">
                                        {% for search_condition in search_condition_list %}
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width:100px;">{{search_condition.name}}</label>
                                            <div class="layui-input-inline">
                                                {% if search_condition.input_type == '输入框' %}
                                                <input type="text" name="{{search_condition.code}}" placeholder="请输入"
                                                       autocomplete="off"
                                                       class="layui-input">
                                                {% elif search_condition.input_type == '下拉列表框' %}
                                                {% if search_condition.name == '状态' %}
                                                <select name="modules" name="{{search_condition.code}}" lay-search="">
                                                    <option value=""></option>
                                                    <option value="1">启用</option>
                                                    <option value="0">停用</option>
                                                </select>
                                                {% elif search_condition.name == '级别' %}
                                                <select name="modules" name="{{search_condition.code}}" lay-search="">
                                                    <option value=""></option>
                                                    <option value="1">提示</option>
                                                    <option value="2">警告</option>
                                                    <option value="3">强制</option>
                                                </select>
                                                {% elif search_condition.name == '依据' %}
                                                <select name="modules" name="{{search_condition.code}}" lay-search="">
                                                    <option value=""></option>
                                                    <option value="1">说明书</option>
                                                    <option value="2">院内药事会</option>
                                                </select>
                                                {% endif %}
                                                {% elif search_condition.input_type == '日期区间' %}
                                                <input type="text" name="{{search_condition.code}}" placeholder="请输入"
                                                       autocomplete="off"
                                                       class="layui-input">
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <div class="layui-inline">
                                            <button class="layui-btn layui-btn-sm" lay-submit=""
                                                    lay-filter="LAY-app-contlist-search">
                                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                            </button>
                                        </div>
                                        <div class="layui-inline" style=" display:none;"
                                             id="div_search_more2">
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-card-body" style="padding:10px 0px 0px 0px;">
                                    <div class="layui-form layui-border-box layui-table-view"
                                         lay-filter="LAY-table-1" lay-id="data_list"
                                         style=" border-bottom-width:0px; ">
                                        <div class="layui-table-tool">
                                            <div class="layui-table-tool-temp">
                                                <div class="layui-btn-container">
                                                    <button class="layui-btn layui-btn-sm"
                                                            lay-event="batch_add"> 设置停用
                                                    </button>
                                                    <button class="layui-btn layui-btn-sm"
                                                            lay-event="batch_add"> 设置启用
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <table class="layui-hide" id="data_list2"
                                           lay-filter="data_list"></table>
                                    <script type="text/html" id="barDemo2">
                                        <a class="layui-btn layui-btn-xs" lay-event="edit">查看</a>
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['table','element','jquery'], function(){
        var $ = layui.$;
        var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

        var table = layui.table;
        var form = layui.form;

        var drugs_tb = table.render({
            elem: '#data_list'
            , url: '/rule/data/many_obj_condi_conclu?audit_item_id={{ audit_item_id }}&curr_manage_index={{curr_manage_index}}'
            , even:true
            ,toolbar: '#test-table-toolbar-toolbarDemo'
            , defaultToolbar:['filter', 'exports'] //, 'print'
            , title: '用户数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                {% for show_col in show_col_list %}
                , {field: '{{show_col.name}}', title: '{{show_col.title}}', width:{{show_col.width}}, fixed:'{{show_col.fixed}}', hide:{{show_col.hide}} }
                {% endfor %}
<!--                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 180}-->
            ]]
            , page: true
            , done:function(res,curr,count) {
                //回调执行合并单元格逻辑
                merge($("#data_list"), res, '项目')
            }
        });

        //监听提交
        form.on('submit(LAY-app-contlist-search)', function(data){
            drugs_tb.reload({
                where:{
                    drug_name: data.field.drug_name
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        //监听行工具事件
        table.on('tool(data_list)', function(obj){
          var data = obj.data;
          if(obj.event === 'del'){
            layer.confirm('真的删除行么', function(index){
<!--              obj.del();-->
              layer.close(index);
            });
          } else if(obj.event === 'edit'){
            edit_rule(data.ruleId);
          } else if(obj.event === 'detail'){
            show_rule(data.ruleId);
          }
        });

        //监听头工具栏
        table.on('toolbar(lay-tableList)', function(obj){
            if(obj.event === 'refresh'){
                reloadTable();
            }
            else if(obj.event === 'LAYTABLE_EXCEL'){
                var formSelect = form.val('searchForm');
                $.ajax({
                    type: 'get'
                    ,url: ctx + '/inventoryReport/getInventoryHistoryList'
                    ,data: formSelect
                    ,success:function(res){
                        table.exportFile('tableList', res.data,'xls');
                    }
                });
            }
        });

        $(document).on("click", ".layui-table-body table.layui-table tbody tr", function () {
            var index = $(this).attr('data-index');
            var tableBox = $(this).parents('.layui-table-box');
            //存在固定列
            if (tableBox.find(".layui-table-fixed.layui-table-fixed-l").length > 0) {
                tableDiv = tableBox.find(".layui-table-fixed.layui-table-fixed-l");
            } else {
                tableDiv = tableBox.find(".layui-table-body.layui-table-main");
            }
            var checkCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-checkbox div.layui-form-checkbox I");
            if (checkCell.length > 0) {
                checkCell.click();
            }
        });

        //对td的单击事件进行拦截停止，防止事件冒泡再次触发上述的单击事件（Table的单击行事件不会拦截，依然有效）
        $(document).on("click", "td div.laytable-cell-checkbox div.layui-form-checkbox", function (e) {
            e.stopPropagation();
        });

        $("#btn_search_more").click(function(){
            $("#div_search_more").toggle();
        });

        var drugs_tb2 = table.render({
            elem: '#data_list2'
            <!--, url: '/rules_data/module/objects_data/{{ module }}'-->
            , even:true
            , title: '用户数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: '抗菌药物分类', title: '抗菌药物分类', width:150}
                , {field: '依据', title: '依据', width: 80}
                , {field: '状态', title: '状态', width: 60}
                , {field: '触发条件', title: '触发条件', width:400}
                , {field: '判断因素', title: '判断因素', width: 300}
                , {field: '审核结果', title: '结论', width: 80}
                , {field: '级别', title: '级别', width: 60}
                , {field: '备注', title: '备注', width: 280}
                , {field: '最后操作时间', title: '操作时间', width: 120, sort: true}
                , {field: '最后操作人', title: '操作人', width: 100}
                , {field: '升级时间', title: '升级时间', width: 120, sort: true}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo2', width: 180}
            ]]
            ,data:[
                     {"依据":"说明书", "抗菌药物分类":"特殊级抗菌药物", "触发条件":"", "审核结果":"<span style='color:green;'>适宜</span>"
                        , "备注":"123123123", "状态":"<span style='color:green;'>启用</span>"
                        , "级别":"<span style='color:blue;'>提示</span>"
                         ,"最后操作时间":"2020-02-01","最后操作人":"张三"
                         ,"规则结论":"【开药天数】3天"}
                     ,{"依据":"说明书", "抗菌药物分类":"特殊级抗菌药物", "触发条件":"", "审核结果":"<span style='color:green;'>适宜</span>", "备注":"123123123", "状态":"<span style='color:green;'>启用</span>"
                         ,"最后操作时间":"2020-02-01","最后操作人":"张三"
                         , "级别":"<span style='color:red;'>强制</span>"
                         ,"规则结论":"【开药天数】3天"}
                     ,{"依据":"说明书", "抗菌药物分类":"限制级抗菌药物", "触发条件":"", "审核结果":"<span style='color:green;'>适宜</span>", "备注":"123123123", "状态":"<span style='color:green;'>启用</span>"
                         ,"最后操作时间":"2020-02-01","最后操作人":"张三"
                         , "级别":"<span style='color:red;'>强制</span>"
                         ,"规则结论":"【开药天数】3天"}
                     ,{"依据":"说明书", "抗菌药物分类":"限制级抗菌药物", "触发条件":"", "审核结果":"<span style='color:red;'>不适宜</span>", "备注":"123123123", "状态":"<span style='color:#c8c8c8;'>停用</span>"
                         ,"最后操作时间":"2020-02-01","最后操作人":"张三"
                         , "级别":"<span style='color:red;'>强制</span>"
                         ,"规则结论":"【开药天数】3天"}
            ]
            , page: true
            , done:function(res,curr,count) {
                //回调执行合并单元格逻辑
                merge($("#data_list2"), res, '就诊类别')
            }
        });

    function merge(this_tb, res, columnName) {
        var data = res.data;
        var mergeIndex = 0;//定位需要添加合并属性的行数
        var mark = 1; //这里涉及到简单的运算，mark是计算每次需要合并的格子数
        var columsName = [columnName];//需要合并的列名称
        var columsIndex = [1];//需要合并的列索引值

        for (var k = 0; k < columsName.length; k++) { //这里循环所有要合并的列
            var trArr = this_tb.next().find("div.layui-table-body").find("tr"); //所有行
<!--            console.log(trArr);-->
                for (var i = 1; i < res.data.length; i++) { //这里循环表格当前的数据
                    var tdCurArr = trArr.eq(i).find("td").eq(columsIndex[k]);//获取当前行的当前列
                    var tdPreArr = trArr.eq(mergeIndex).find("td").eq(columsIndex[k]);//获取相同列的第一列
                    if (data[i][columsName[k]] === data[i-1][columsName[k]]) { //后一行的值与前一行的值做比较，相同就需要合并
                        mark += 1;
                        tdPreArr.each(function () {//相同列的第一列增加rowspan属性
                            $(this).attr("rowspan", mark);
                        });
                        tdCurArr.each(function () {//当前行隐藏
                            $(this).css("display", "none");
                        });
                    }else {
                        mergeIndex = i;
                        mark = 1;//一旦前后两行的值不一样了，那么需要合并的格子数mark就需要重新计算
                    }
                }
            mergeIndex = 0;
            mark = 1;
        }
    }

    $('#add_rule').on('click', function(){
        add_rule();
    });

    function add_rule(){
        layer.open({
            type:2,
            offset:'r',
            title:'新增规则',
            area:['1190px', '100%'],
            content:'/rule/cus_rules/rules_add_not_only_object/?auditItem={{audit_item_name}}&curr_manage_index={{curr_manage_index}}'
        });
    }

    function edit_rule(ruleId){
        layer.open({
            type:2,
            offset:'r',
            title:'编辑规则',
            area:['1190px', '100%'],
            content:'/rule/cus_rules/rules_add_not_only_object/?auditItem={{audit_item_name}}&curr_manage_index={{curr_manage_index}}'
        });
    }

    function show_rule(ruleId){
        layer.open({
            type:2,
            offset:'r',
            title:'查看规则',
            area:['1190px', '100%'],
            content:'/rule/cus_rules/rules_detail_not_only_object/?auditItem={{audit_item_name}}&curr_manage_index={{curr_manage_index}}'
        });
    }
});


</script>
<script>
    function newTab(url, tit) {
        window.location = url;
<!--        if (top.layui.index) {-->
<!--            top.layui.index.openTabsPage(url, tit)-->
<!--        } else {-->
<!--            window.open(url)-->
<!--        }-->
    }
</script>
</body>
</html>