<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>开始运营工作</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <link rel="stylesheet" href="/static/phhc/css/global.css" media="all">
    <link rel="stylesheet" href="/static/phhc/css/phhc.css" media="all">
    <style>
        .layui-table-cell{
	        height:auto;
	        overflow:visible;
	        text-overflow:inherit;
	        white-space:pre-wrap;
        }




    </style>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">数据生产范围</div>
                <div class="layui-card-body">
                    <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                         style="padding:0px;">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label"
                                       style="width:90px;">客户名称</label>
                                <div class="layui-input-inline">
                                    <select name="modules" lay-search="">
                                        <option value=""></option>
                                        <option value="1">宣武医院</option>
                                        <option value="0">儿童医院</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"
                                       style="width:90px;">上传时间</label>
                                <div class="layui-input-inline">
                                    <select name="modules" lay-search="">
                                        <option value=""></option>
                                        <option value="1">2021-03-01</option>
                                        <option value="0">2021-01-01</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"
                                       style="width:90px;">运营人员</label>
                                <div class="layui-input-inline">
                                    <select name="modules" lay-search="">
                                        <option value=""></option>
                                        <option value="1">ligl</option>
                                        <option value="0">xiaoxiang</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"
                                       style="width:90px;">任务</label>
                                <div class="layui-input-inline">
                                    <select name="modules" lay-search="">
                                        <option value=""></option>
                                        <option value="1">宣武2021-02-01</option>
                                        <option value="0">儿童2021-02-01</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-sm"
                                        lay-submit=""
                                        lay-filter="LAY-app-contlist-search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                </button>
                                <button class="layui-btn layui-btn-sm">保存搜索条件</button>
                                <button class="layui-btn layui-btn-sm">选择历史搜索条件</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-row">
                    <div class="layui-col-md1" style="border-right: 1px solid #eee;">
                        <div class="layui-card">
                            <div class="site-tree">
                                <ul class="layui-tree">
                                    <li class="site-tree-noicon ">
                                        <a href="/drug/production/drug/">
                                            <cite>药品信息总表</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li><h2 style="margin:0px;">药品说明书</h2></li>
                                    <li class="site-tree-noicon ">
                                        <a href="/drug/production/generic/">
                                            <cite>通用名称</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/drug/production/basic/">
                                            <cite>通用名称+规格</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/drug/production/product/">
                                            <cite>通用名称+规格+厂家</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md11">
                        <div class="layui-card">
                            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">生产管理（<span style="color:red;">40</span>）</li>
                                    <li class="layui-item">生产（<span style="color:red;">30</span>）</li>
                                    <li class="layui-item">审核（<span style="color:red;">10</span>）</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show">
                                        <div class="layui-card">
                                            <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                                 style="padding:0px;">
                                            </div>
                                            <div class="layui-card-body" style="padding:10px 0px 0px 0px;">
                                                <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                                     style="padding:0px;">
                                                    <div class="layui-form-item">
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:60px;">药品名称</label>
                                                            <div class="layui-input-inline">
                                                                <input type="text" name="drug_name"
                                                                       placeholder="请输入"
                                                                       autocomplete="off"
                                                                       class="layui-input">
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:60px;">所属客户</label>
                                                            <div class="layui-input-inline">
                                                                <select name="modules" lay-search="">
                                                                    <option value=""></option>
                                                                    <option value="1">北京宣武医院</option>
                                                                    <option value="2">北京儿童医院</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:60px;">数据项目</label>
                                                            <div class="layui-input-inline">
                                                                <select name="modules" lay-search="">
                                                                    <option value=""></option>
                                                                    <option value="6">药品完成状态</option>
                                                                    <option value="1">基础药物</option>
                                                                    <option value="2">通用药物</option>
                                                                    <option value="3">通用药物分类</option>
                                                                    <option value="4">药品说明书</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:60px;">进度</label>
                                                            <div class="layui-input-inline">
                                                                <select name="modules" lay-search="">
                                                                    <option value=""></option>
                                                                    <option value="1">已完成</option>
                                                                    <option value="0">未完成</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:90px;">未完成原因</label>
                                                            <div class="layui-input-inline">
                                                                <select name="modules" lay-search="">
                                                                    <option value=""></option>
                                                                    <option value="1">注射剂</option>
                                                                    <option value="0">溶媒</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <button class="layui-btn layui-btn-sm"
                                                                    lay-submit=""
                                                                    lay-filter="LAY-app-contlist-search">
                                                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                                            </button>
                                                            <button class="layui-btn layui-btn-primary layui-btn-sm"
                                                                    id="btn_search_more" style=" display:none;">更多
                                                            </button>
                                                        </div>
                                                        <div class="layui-block" style=" display:none;"
                                                             id="div_search_more"></div>
                                                    </div>
                                                </div>
                                                <div class="layui-form layui-border-box layui-table-view"
                                                     lay-filter="LAY-table-1" lay-id="data_list"
                                                     style=" border-bottom-width:0px; ">
                                                    <div class="layui-table-tool">
                                                        <div class="layui-table-tool-temp">
                                                            <div class="layui-btn-container">
                                                                <button class="layui-btn layui-btn-sm"
                                                                        lay-event="batch_add"
                                                                        id="import_data3">
                                                                    分配工作任务（20）
                                                                </button>
                                                                <button class="layui-btn layui-btn-sm"
                                                                        lay-event="batch_add"
                                                                        id="import_data1-1">
                                                                    生产工作统计
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="layui-hide" id="data_list"
                                                       lay-filter="data_list"></table>
                                                <script type="text/html" id="barDemo">
                                                    <a class="layui-btn layui-btn-xs" lay-event="detail">详细信息</a>
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-tab-item">
                                        <div class="layui-card">
                                            <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                                 style="padding:0px;">
                                            </div>
                                            <div class="layui-card-body" style="padding:10px 0px 0px 0px;">
                                                <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                                     style="padding:0px;">
                                                    <div class="layui-form-item">
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:60px;">药品名称</label>
                                                            <div class="layui-input-inline">
                                                                <input type="text" name="drug_name"
                                                                       placeholder="请输入"
                                                                       autocomplete="off"
                                                                       class="layui-input">
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:60px;">所属客户</label>
                                                            <div class="layui-input-inline">
                                                                <select name="modules" lay-search="">
                                                                    <option value=""></option>
                                                                    <option value="1">北京宣武医院</option>
                                                                    <option value="2">北京儿童医院</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:60px;">数据项目</label>
                                                            <div class="layui-input-inline">
                                                                <select name="modules" lay-search="">
                                                                    <option value=""></option>
                                                                    <option value="6">药品完成状态</option>
                                                                    <option value="1">基础药物</option>
                                                                    <option value="2">通用药物</option>
                                                                    <option value="3">通用药物分类</option>
                                                                    <option value="4">药品说明书</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:60px;">进度</label>
                                                            <div class="layui-input-inline">
                                                                <select name="modules" lay-search="">
                                                                    <option value=""></option>
                                                                    <option value="1">已完成</option>
                                                                    <option value="0">未完成</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:90px;">未完成原因</label>
                                                            <div class="layui-input-inline">
                                                                <select name="modules" lay-search="">
                                                                    <option value=""></option>
                                                                    <option value="1">注射剂</option>
                                                                    <option value="0">溶媒</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <button class="layui-btn layui-btn-sm"
                                                                    lay-submit=""
                                                                    lay-filter="LAY-app-contlist-search">
                                                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                                            </button>
                                                            <button class="layui-btn layui-btn-primary layui-btn-sm"
                                                                    id="btn_search_more2" style=" display:none;">更多
                                                            </button>
                                                        </div>
                                                        <div class="layui-block" style=" display:none;"
                                                             id="div_search_more2"></div>
                                                    </div>
                                                </div>
                                                <div class="layui-form layui-border-box layui-table-view"
                                                     lay-filter="LAY-table-1" lay-id="data_list"
                                                     style=" border-bottom-width:0px; ">
                                                    <div class="layui-table-tool">
                                                        <div class="layui-table-tool-temp">
                                                            <div class="layui-btn-container">
                                                                <button class="layui-btn layui-btn-sm"
                                                                        lay-event="batch_add"
                                                                        id="import_data2">
                                                                    设置生产完成
                                                                </button>
                                                                <button class="layui-btn layui-btn-sm"
                                                                        lay-event="batch_add"
                                                                        id="import_data5">
                                                                    废弃
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="layui-hide" id="data_list2"
                                                       lay-filter="data_list"></table>
                                                <script type="text/html" id="barDemo2">
                                                    <a class="layui-btn layui-btn-xs" lay-event="detail">详细信息</a>
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-tab-item">
                                        <div class="layui-card">
                                            <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                                 style="padding:0px;">
                                            </div>
                                            <div class="layui-card-body" style="padding:10px 0px 0px 0px;">
                                                <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                                     style="padding:0px;">
                                                    <div class="layui-form-item">
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:60px;">药品名称</label>
                                                            <div class="layui-input-inline">
                                                                <input type="text" name="drug_name"
                                                                       placeholder="请输入"
                                                                       autocomplete="off"
                                                                       class="layui-input">
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:60px;">所属客户</label>
                                                            <div class="layui-input-inline">
                                                                <select name="modules" lay-search="">
                                                                    <option value=""></option>
                                                                    <option value="1">北京宣武医院</option>
                                                                    <option value="2">北京儿童医院</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:60px;">数据项目</label>
                                                            <div class="layui-input-inline">
                                                                <select name="modules" lay-search="">
                                                                    <option value=""></option>
                                                                    <option value="6">药品完成状态</option>
                                                                    <option value="1">基础药物</option>
                                                                    <option value="2">通用药物</option>
                                                                    <option value="3">通用药物分类</option>
                                                                    <option value="4">药品说明书</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:60px;">进度</label>
                                                            <div class="layui-input-inline">
                                                                <select name="modules" lay-search="">
                                                                    <option value=""></option>
                                                                    <option value="1">已完成</option>
                                                                    <option value="0">未完成</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <label class="layui-form-label"
                                                                   style="width:90px;">未完成原因</label>
                                                            <div class="layui-input-inline">
                                                                <select name="modules" lay-search="">
                                                                    <option value=""></option>
                                                                    <option value="1">注射剂</option>
                                                                    <option value="0">溶媒</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="layui-inline">
                                                            <button class="layui-btn layui-btn-sm"
                                                                    lay-submit=""
                                                                    lay-filter="LAY-app-contlist-search">
                                                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                                            </button>
                                                            <button class="layui-btn layui-btn-primary layui-btn-sm"
                                                                    id="btn_search_more3" style=" display:none;">更多
                                                            </button>
                                                        </div>
                                                        <div class="layui-block" style=" display:none;"
                                                             id="div_search_more3"></div>
                                                    </div>
                                                </div>
                                                <div class="layui-form layui-border-box layui-table-view"
                                                     lay-filter="LAY-table-1" lay-id="data_list"
                                                     style=" border-bottom-width:0px; ">
                                                    <div class="layui-table-tool">
                                                        <div class="layui-table-tool-temp">
                                                            <div class="layui-btn-container">
                                                                <button class="layui-btn layui-btn-sm"
                                                                        lay-event="batch_add"
                                                                        id="import_data7">
                                                                    审核通过
                                                                </button>
                                                                <button class="layui-btn layui-btn-sm"
                                                                        lay-event="batch_add"
                                                                        id="import_data8">
                                                                    驳回
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <table class="layui-hide" id="data_list3"
                                                       lay-filter="data_list"></table>
                                                <script type="text/html" id="barDemo3">
                                                    <a class="layui-btn layui-btn-xs" lay-event="detail">详细信息</a>
                                                </script>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['table', 'element','jquery'], function(){
    var $ = layui.$;
    var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

    var table = layui.table;
    var form = layui.form;

    var drugs_tb = table.render({
            elem: '#data_list'
<!--            , url: '/rules_data/module/objects_data/{{ module }}'-->
<!--            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板-->
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , even:true
            , title: '用户数据表'
            , cols: [[
                {type: 'checkbox'}
                , {field: '批准文号', title: '批准文号'}
                , {field: '最后修订日期', title: '最后修订日期'}
                , {field: '通用名称', title: '通用名称'}
                , {field: '商品名称', title: '商品名称'}
                , {field: '规格', title: '规格'}
                , {field: '包装', title: '包装'}
                , {field: '厂家', title: '厂家'}

                , {field: '所属客户数', title: '所属客户数', width: 120}
                , {field: '药品信息', title: '药品信息', width: 200}
            ]]
            ,data:[
                    {"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/production/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
            ]
            , page: true
        });

        var drugs_tb2 = table.render({
            elem: '#data_list2'
<!--            , url: '/rules_data/module/objects_data/{{ module }}'-->
<!--            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板-->
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , even:true
            , title: '用户数据表'
            , cols: [[
                {type: 'checkbox'}
                , {field: '成分名', title: '成分名'}

                , {field: '所属客户数', title: '所属客户数', width: 120}
                , {field: '药品信息', title: '药品信息', width: 200}
            ]]
            ,data:[
                    {"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
            ]
            , page: true
        });


        var drugs_tb3 = table.render({
            elem: '#data_list3'
<!--            , url: '/rules_data/module/objects_data/{{ module }}'-->
<!--            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板-->
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , even:true
            , title: '用户数据表'
            , cols: [[
                {type: 'checkbox'}
                , {field: '成分名', title: '成分名'}

                , {field: '所属客户数', title: '所属客户数', width: 120}
                , {field: '药品信息', title: '药品信息', width: 200}
            ]]
            ,data:[
                    {"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"成分名":"阿莫西林","所属客户数":"50"
                        ,"药品信息":"<a onclick='newTab(\"/drug/drugdetail/\", \"阿莫西林肠溶片-0101001\")' style='color:red;'>2：待生产</a><br>1：完成"
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
            ]
            , page: true
        });


        //头工具栏事件
        table.on('toolbar(data_list)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'batch_add':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'batch_edit':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'batch_del':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(data_list)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'rules') {
                newTab('/customer_data/cus_rules/one_obj_condi/?module={{ module }}&object_id=' + data.druginfo_commercial_id, data.aliascn+'-{{ module_desc }}')
            } else if (obj.event === 'manual') {

            }
        });

        //监听提交
      form.on('submit(LAY-app-contlist-search)', function(data){
        drugs_tb.reload({
            where:{
                drug_name: data.field.drug_name
            }
            ,page: {
                curr: 1 //重新从第 1 页开始
            }
        });
        return false;
      });

      $(document).on("click", ".layui-table-body table.layui-table tbody tr", function () {
        var index = $(this).attr('data-index');
        var tableBox = $(this).parents('.layui-table-box');
        //存在固定列
        if (tableBox.find(".layui-table-fixed.layui-table-fixed-l").length > 0) {
            tableDiv = tableBox.find(".layui-table-fixed.layui-table-fixed-l");
        } else {
            tableDiv = tableBox.find(".layui-table-body.layui-table-main");
        }
        var checkCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-checkbox div.layui-form-checkbox I");
        if (checkCell.length > 0) {
            checkCell.click();
        }
    });

    //对td的单击事件进行拦截停止，防止事件冒泡再次触发上述的单击事件（Table的单击行事件不会拦截，依然有效）
    $(document).on("click", "td div.laytable-cell-checkbox div.layui-form-checkbox", function (e) {
        e.stopPropagation();
    });

    $("#btn_search_more").click(function(){
        $("#div_search_more").toggle();
    });

        $("#uploadfile").on('click', function(){
            //多窗口模式，层叠置顶
          layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['80%', '95%']
    <!--        ,shade: 0-->
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/common/uploadfile/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
              layer.closeAll();
            }
            ,btn2: function(){
              layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
              layer.setTop(layero); //重点2
            }
          });
        });

        $("#set_check_result").on('click', function(){
            //多窗口模式，层叠置顶
          layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['50%', '50%']
    <!--        ,shade: 0-->
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/opt/my/set_check_result/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
              layer.closeAll();
            }
            ,btn2: function(){
              layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
              layer.setTop(layero); //重点2
            }
          });
        });

        $("#add_opt_task").on('click', function(){
            //多窗口模式，层叠置顶
          layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['50%', '50%']
    <!--        ,shade: 0-->
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/opt/my/add_opt_task/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
              layer.closeAll();
            }
            ,btn2: function(){
              layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
              layer.setTop(layero); //重点2
            }
          });
        });


    $("#set_check_item").on('click', function(){
        //多窗口模式，层叠置顶
        layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['80%', '80%']
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/opt/my/prod/dict_check_item/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
                layer.closeAll();
            }
            ,btn2: function(){
                layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
                layer.setTop(layero); //重点2
            }
        });
    });

});














</script>
<script>
    function newTab(url, tit) {
<!--        window.location = url;-->
        if (top.layui.index) {
            top.layui.index.openTabsPage(url, tit)
        } else {
            window.open(url)
        }
    }












</script>

</body>
</html>