<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>审核依据</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <link rel="stylesheet" href="/static/phhc/css/global.css" media="all">
    <link rel="stylesheet" href="/static/phhc/css/phhc.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">相互作用-规则列表
                    <div class="layui-inline" style=" margin-left:12px;">
                        <button class="layui-btn"
                                onclick="newTab('/customer_data/cus_rules/two_obj_condi_query','')">
                            查询与维护相互作用规则
                        </button>
                    </div>
                    <div class="layui-inline" style="float:right">
                        <button class="layui-btn layui-btn-primary layui-btn-sm"
                                onclick="newTab('/customer_data/cus_rules/index','')">返回列表
                        </button>
                    </div>
                </div>
                <div class="layui-card-body">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">自定义规则</li>
                            <li>系统规则</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-card">
                                    <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                         style="padding:0px; ">
                                        <div class="layui-form-item">
                                            <div class="layui-inline">
                                                <label class="layui-form-label"
                                                       style="width:60px;">药品</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="drug_name"
                                                           placeholder="药品名或HISID"
                                                           autocomplete="off"
                                                           class="layui-input">
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label"
                                                       style="width:60px;">提示级别</label>
                                                <div class="layui-input-inline">
                                                    <select name="modules" lay-verify="required"
                                                            lay-search="">
                                                        <option value=""></option>
                                                        <option value="1">提示</option>
                                                        <option value="2">警告</option>
                                                        <option value="3">强制</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label"
                                                       style="width:60px;">状态</label>
                                                <div class="layui-input-inline">
                                                    <select name="modules" lay-search="">
                                                        <option value=""></option>
                                                        <option value="1" selected>启用</option>
                                                        <option value="0">停用</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <button class="layui-btn layui-btn-sm" lay-submit=""
                                                        lay-filter="LAY-app-contlist-search">
                                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                                </button>
                                                <button class="layui-btn layui-btn-primary layui-btn-sm"
                                                        id="btn_search_more">更多
                                                </button>
                                            </div>
                                            <div class="layui-inline" style=" display:none;"
                                                 id="div_search_more">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:60px;">备注</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="drug_name"
                                                               placeholder="请输入"
                                                               autocomplete="off"
                                                               class="layui-input">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:60px;">结果</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="drug_name"
                                                               placeholder="请输入"
                                                               autocomplete="off"
                                                               class="layui-input">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-card-body" style="padding:10px 0px 0px 0px;">
                                        <div class="layui-form layui-border-box layui-table-view"
                                             lay-filter="LAY-table-1" lay-id="data_list"
                                             style=" border-bottom-width:0px; ">
                                            <div class="layui-table-tool">
                                                <div class="layui-table-tool-temp">
                                                    <div class="layui-btn-container">
                                                        <button class="layui-btn layui-btn-sm"
                                                                lay-event="batch_add"> 设置停用
                                                        </button>
                                                        <button class="layui-btn layui-btn-sm"
                                                                lay-event="batch_add"> 设置启用
                                                        </button>
                                                        <button class="layui-btn layui-btn-danger layui-btn-sm"
                                                                lay-event="batch_add"> 删除
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <table class="layui-hide" id="data_list"
                                               lay-filter="data_list"></table>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab-item">
                                同自定义规则。
                                无删除、无新增按钮。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['table', 'element','jquery'], function(){
    var $ = layui.$;
    var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

    var table = layui.table;
    var form = layui.form;

    var drugs_tb = table.render({
            elem: '#data_list'
            , even:true
            , title: '用户数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: '依据', title: '依据', width: 80, fixed: 'left'}
                , {field: '药品1', title: '药品1', width: 350, fixed: 'left'}
                , {field: '药品2', title: '药品2', width: 350, fixed: 'left'}
                , {field: '规则条件', title: '规则条件', width:150}
                , {field: '审核结果', title: '结果', width: 80}
                , {field: '状态', title: '状态', width: 60}
                , {field: '备注', title: '备注', width: 280}
                , {field: '最后操作时间', title: '最后操作时间', width: 150, sort: true}
                , {field: '最后操作人', title: '最后操作人', width: 150, sort: true}
            ]]
            ,data:[
                    {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    , {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    , {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    , {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    , {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    , {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    , {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    , {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    , {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    , {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    , {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    , {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    , {"依据":"说明书", "药品1":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)...<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "药品2":"【HISID】ba6f2c91-9df0【通用名】格列齐特片(Ⅱ)<br>【商品名】达美康【规格】80mg60片【包装】盒【厂家】天津华津制药有限公司", "规则条件":"【科室】（除外）：西药药房（0000001）、急诊科（2345810960）、医学影像科（2345810951） <br>【性别】：男、女 <br>【年龄】：1岁（含）-15岁（含）、1岁（不含）以上、15岁（不含）以下 <br>【特殊人群】：哺乳期 <br>【诊断】（组0、除外）：红皮病型药疹、梅毒性喉炎、多虑平中毒 <br>【诊断】（组1、除外）：干燥闭塞性龟头炎、痰浊瘀阻证、急性淋巴细胞性白血病、L1型 <br>【生理指标】（组0、除外）：血小板1mg/L（含）-2mg/L（含） <br>【生理指标】（组1）：收缩压3μl（含）-4μl（含） <br>【预防药品不良反应】：ba6f2c91-9df0-4500-be7b-2178f5f60f86 格列齐特片(Ⅱ) 达美康 80mg60片 盒 天津华津制药有限公司、51D14D5A-B805-4BF9-A090-11E4F987DDF9 玻璃酸钠注射液 施沛特 2ml:20mg 1支 山东博士伦福瑞达制药有限公司", "审核结果":"适宜", "备注":"123123123", "状态":"启用","最后操作时间":"2020-02-01","最后操作人":"张三"}
            ]
            , page: true
        });

        //头工具栏事件
        table.on('toolbar(data_list)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'batch_add':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'batch_edit':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'batch_del':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(data_list)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'rules') {
                newTab('/customer_data/cus_rules/one_obj_condi/?module={{ module }}&object_id=' + data.druginfo_commercial_id, data.aliascn+'-{{ module_desc }}')
            } else if (obj.event === 'manual') {

            }
        });

        //监听提交
      form.on('submit(LAY-app-contlist-search)', function(data){
        drugs_tb.reload({
            where:{
                drug_name: data.field.drug_name
            }
            ,page: {
                curr: 1 //重新从第 1 页开始
            }
        });
        return false;
      });

      $(document).on("click", ".layui-table-body table.layui-table tbody tr", function () {
        var index = $(this).attr('data-index');
        var tableBox = $(this).parents('.layui-table-box');
        //存在固定列
        if (tableBox.find(".layui-table-fixed.layui-table-fixed-l").length > 0) {
            tableDiv = tableBox.find(".layui-table-fixed.layui-table-fixed-l");
        } else {
            tableDiv = tableBox.find(".layui-table-body.layui-table-main");
        }
        var checkCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-checkbox div.layui-form-checkbox I");
        if (checkCell.length > 0) {
            checkCell.click();
        }
    });

    //对td的单击事件进行拦截停止，防止事件冒泡再次触发上述的单击事件（Table的单击行事件不会拦截，依然有效）
    $(document).on("click", "td div.laytable-cell-checkbox div.layui-form-checkbox", function (e) {
        e.stopPropagation();
    });

    $("#btn_search_more").click(function(){
        $("#div_search_more").toggle();
    });
});




</script>
<script>
    function newTab(url, tit) {
        window.location = url;
<!--        if (top.layui.index) {-->
<!--            top.layui.index.openTabsPage(url, tit)-->
<!--        } else {-->
<!--            window.open(url)-->
<!--        }-->
    }




</script>
</body>
</html>