<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>开始运营工作</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <link rel="stylesheet" href="/static/phhc/css/global.css" media="all">
    <link rel="stylesheet" href="/static/phhc/css/phhc.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">数据采集：北京宣武医院</div>
                <div class="layui-card-body">
                    <div class="layui-row">
                        <div class="layui-inline">
                            【快捷功能】
                            <a class="layui-btn layui-btn-xs" lay-event="log" id="upload_all">批量上传采集数据</a>
                            <!--                            <a class="layui-btn layui-btn-xs" lay-event="log"-->
                            <!--                               id="add_opt_task_all">全部加入到运营任务（校验通过数据）</a>-->
                            <a class="layui-btn layui-btn-xs" lay-event="log">记录运营日志</a>
                            <a class="layui-btn layui-btn-xs" lay-event="download">下载问题数据</a>
                            <a class="layui-btn layui-btn-xs" lay-event="download">下载《采集文件模板》</a>

                            <a class="layui-btn layui-btn-xs" onclick="newTab('/opt/my/statistics/', '待处理工作量统计')">待处理工作量统计</a>
<!--                            <a class="layui-btn layui-btn-xs" lay-event="download">下载《文件对比工具》</a>-->
                            <!--                            <a class="layui-btn layui-btn-xs" lay-event="download2">下载《采集文件校验工具》</a>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-row">
                    <div class="layui-col-md1" style="border-right: 1px solid #eee;">
                        <div class="layui-card">
                            <div class="site-tree">
                                <ul class="layui-tree">
                                    <li><h2 style="margin:0px;">西药/中成药</h2></li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/disease/">
                                            <cite>诊断</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>给药途径</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>给药频率</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>单次用量单位</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>发药数量单位</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>性别</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>特殊人群</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>检验项目</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>检验项目单位</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>过敏</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>检查项目</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>手术名称</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>手术切口</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>就诊类型</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>人员字典</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>业务科室</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>病区</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>药房</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>饮片</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>煎法</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>服法</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my/otherdict/">
                                            <cite>脚注</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md11">
                        <div class="layui-card">
                            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">上传采集数据</li>
                                    <li>全部数据</li>
                                    <li>文件上传记录</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <div class="layui-tab-item layui-show">
                                        <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                             style="padding:0px;">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:90px;">系统校验结果</label>
                                                    <div class="layui-input-inline">
                                                        <select name="modules" lay-search="">
                                                            <option value=""></option>
                                                            <option value="1">通过</option>
                                                            <option value="0">不通过</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:90px;">系统校验原因</label>
                                                    <div class="layui-input-inline">
                                                        <select name="modules2" lay-search="" lay-filter="item_sel">
                                                            <option value=""></option>
                                                            <option value="1">HISID重复</option>
                                                            <option value="2">缺少厂家</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:90px;">人工修改结果</label>
                                                    <div class="layui-input-inline">
                                                        <select name="modules" lay-search="">
                                                            <option value=""></option>
                                                            <option value="1">通过</option>
                                                            <option value="0">不通过</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:90px;">人工修改原因</label>
                                                    <div class="layui-input-inline">
                                                        <select name="modules2" lay-search="" lay-filter="item_sel">
                                                            <option value=""></option>
                                                            <option value="1">HISID重复</option>
                                                            <option value="2">缺少厂家</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:90px;">标签</label>
                                                    <div class="layui-input-inline">
                                                        <select name="modules2" lay-search="" lay-filter="item_sel">
                                                            <option value=""></option>
                                                            <option value="1">本月验收医院</option>
                                                            <option value="2">重点跟进医院</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:90px;">上传时间</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="drug_name"
                                                               placeholder="请输入"
                                                               autocomplete="off"
                                                               class="layui-input">
                                                    </div>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="drug_name"
                                                               placeholder="请输入"
                                                               autocomplete="off"
                                                               class="layui-input">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <button class="layui-btn layui-btn-sm"
                                                            lay-submit=""
                                                            lay-filter="LAY-app-contlist-search">
                                                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                                    </button>
                                                    <button class="layui-btn layui-btn-primary layui-btn-sm"
                                                            id="btn_search_more">更多
                                                    </button>
                                                </div>
                                                <div class="layui-block" style=" display:none;"
                                                     id="div_search_more">
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label"
                                                               style="width:90px;">HISID</label>
                                                        <div class="layui-input-inline">
                                                            <input type="text" name="drug_name"
                                                                   placeholder="请输入"
                                                                   autocomplete="off"
                                                                   class="layui-input">
                                                        </div>
                                                    </div>
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label"
                                                               style="width:90px;">药品名称</label>
                                                        <div class="layui-input-inline">
                                                            <input type="text" name="drug_name"
                                                                   placeholder="请输入"
                                                                   autocomplete="off"
                                                                   class="layui-input">
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-card-body"
                                             style="padding:10px 0px 0px 0px;">
                                            <div class="layui-form layui-border-box layui-table-view"
                                                 lay-filter="LAY-table-1" lay-id="data_list"
                                                 style=" border-bottom-width:0px; ">
                                                <div class="layui-table-tool">
                                                    <div class="layui-table-tool-temp">
                                                        <div class="layui-btn-container">
<!--                                                            <button class="layui-btn layui-btn-sm"-->
<!--                                                                    id="uploadfile">-->
<!--                                                                上传医院提供原始文件-->
<!--                                                            </button>-->
                                                            <button class="layui-btn layui-btn-sm"
                                                                    lay-event="batch_add">
                                                                按搜索条件导出
                                                            </button>
                                                            <button class="layui-btn layui-btn-sm"
                                                                    id="uploadfile2">
                                                                已上传数据批处理
                                                            </button>
                                                            <!--                                                            <button class="layui-btn layui-btn-sm"-->
                                                            <!--                                                                    lay-event="batch_add"-->
                                                            <!--                                                                    onclick="newTab('/customer_data/cus_rules/rules_add', '')">-->
                                                            <!--                                                                下载模板-->
                                                            <!--                                                            </button>-->
<!--                                                            <button class="layui-btn layui-btn-danger layui-btn-sm"-->
<!--                                                                    lay-event="batch_add"> 修改-->
<!--                                                            </button>-->
                                                            <button class="layui-btn layui-btn-danger layui-btn-sm"
                                                                    lay-event="batch_add"> 删除选中数据
                                                            </button>
                                                            <button class="layui-btn layui-btn-danger layui-btn-sm"
                                                                    lay-event="batch_add"> 按查询条件删除数据
                                                            </button>
                                                            <button class="layui-btn layui-btn-sm"
                                                                    lay-event="batch_add"
                                                                    id="set_check_result">
                                                                设置校验结果
                                                            </button>
                                                            <button class="layui-btn layui-btn-sm"
                                                                    lay-event="batch_add"
                                                                    id="add_opt_task">
                                                                设置标签
                                                            </button>

                                                            <button class="layui-btn layui-btn-sm"
                                                                    lay-event="batch_add">
                                                                入库处理
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="layui-hide" id="data_list"
                                                   lay-filter="data_list"></table>
                                        </div>
                                    </div>
                                    <div class="layui-tab-item">
                                        <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                             style="padding:0px;">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:90px;">标签</label>
                                                    <div class="layui-input-inline">
                                                        <select name="modules2" lay-search="" lay-filter="item_sel">
                                                            <option value=""></option>
                                                            <option value="1">本月验收医院</option>
                                                            <option value="2">重点跟进医院</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:90px;">上传时间</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="drug_name"
                                                               placeholder="请输入"
                                                               autocomplete="off"
                                                               class="layui-input">
                                                    </div>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="drug_name"
                                                               placeholder="请输入"
                                                               autocomplete="off"
                                                               class="layui-input">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:90px;">生产进度</label>
                                                    <div class="layui-input-inline">
                                                        <select name="modules2" lay-search="" lay-filter="item_sel">
                                                            <option value=""></option>
                                                            <option value="1">已完成</option>
                                                            <option value="2">未完成</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <button class="layui-btn layui-btn-sm"
                                                            lay-submit=""
                                                            lay-filter="LAY-app-contlist-search">
                                                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                                    </button>
                                                    <button class="layui-btn layui-btn-primary layui-btn-sm"
                                                            id="btn_search_more2">更多
                                                    </button>
                                                </div>
                                                <div class="layui-block" style=" display:none;"
                                                     id="div_search_more2">
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label"
                                                               style="width:90px;">HISID</label>
                                                        <div class="layui-input-inline">
                                                            <input type="text" name="drug_name"
                                                                   placeholder="请输入"
                                                                   autocomplete="off"
                                                                   class="layui-input">
                                                        </div>
                                                    </div>
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label"
                                                               style="width:90px;">药品名称</label>
                                                        <div class="layui-input-inline">
                                                            <input type="text" name="drug_name"
                                                                   placeholder="请输入"
                                                                   autocomplete="off"
                                                                   class="layui-input">
                                                        </div>
                                                    </div>
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label"
                                                               style="width:90px;">系统校验结果</label>
                                                        <div class="layui-input-inline">
                                                            <select name="modules" lay-search="">
                                                                <option value=""></option>
                                                                <option value="1">通过</option>
                                                                <option value="0">不通过</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label"
                                                               style="width:90px;">系统校验原因</label>
                                                        <div class="layui-input-inline">
                                                            <select name="modules2" lay-search="" lay-filter="item_sel">
                                                                <option value=""></option>
                                                                <option value="1">HISID重复</option>
                                                                <option value="2">缺少厂家</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label"
                                                               style="width:90px;">人工修改结果</label>
                                                        <div class="layui-input-inline">
                                                            <select name="modules" lay-search="">
                                                                <option value=""></option>
                                                                <option value="1">通过</option>
                                                                <option value="0">不通过</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="layui-inline">
                                                        <label class="layui-form-label"
                                                               style="width:90px;">人工修改原因</label>
                                                        <div class="layui-input-inline">
                                                            <select name="modules2" lay-search="" lay-filter="item_sel">
                                                                <option value=""></option>
                                                                <option value="1">HISID重复</option>
                                                                <option value="2">缺少厂家</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-card-body"
                                             style="padding:10px 0px 0px 0px;">
                                            <div class="layui-form layui-border-box layui-table-view"
                                                 lay-filter="LAY-table-1" lay-id="data_list"
                                                 style=" border-bottom-width:0px; ">
                                                <div class="layui-table-tool">
                                                    <div class="layui-table-tool-temp">
                                                        <div class="layui-btn-container">
                                                            <button class="layui-btn layui-btn-sm"
                                                                    lay-event="batch_add">
                                                                按搜索条件导出
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="layui-hide" id="data_list2"
                                                   lay-filter="data_list"></table>
                                        </div>
                                    </div>
                                    <div class="layui-tab-item">
                                        <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                             style="padding:0px;">
                                            <div class="layui-form-item">
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:90px;">文件名称</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="drug_name"
                                                               placeholder="请输入"
                                                               autocomplete="off"
                                                               class="layui-input">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:90px;">备注</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="drug_name"
                                                               placeholder="请输入"
                                                               autocomplete="off"
                                                               class="layui-input">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <label class="layui-form-label"
                                                           style="width:90px;">上传时间</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="drug_name"
                                                               placeholder="请输入"
                                                               autocomplete="off"
                                                               class="layui-input">
                                                    </div>
                                                    <div class="layui-input-inline">
                                                        <input type="text" name="drug_name"
                                                               placeholder="请输入"
                                                               autocomplete="off"
                                                               class="layui-input">
                                                    </div>
                                                </div>
                                                <div class="layui-inline">
                                                    <button class="layui-btn layui-btn-sm"
                                                            lay-submit=""
                                                            lay-filter="LAY-app-contlist-search">
                                                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                                    </button>
                                                    <button class="layui-btn layui-btn-primary layui-btn-sm"
                                                            id="btn_search_more3" style=" display:none;">更多
                                                    </button>
                                                </div>
                                                <div class="layui-block" style=" display:none;"
                                                     id="div_search_more3">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-card-body"
                                             style="padding:10px 0px 0px 0px;">
                                            <div class="layui-form layui-border-box layui-table-view"
                                                 lay-filter="LAY-table-1" lay-id="data_list"
                                                 style=" border-bottom-width:0px;">
                                                <div class="layui-table-tool">
                                                    <div class="layui-table-tool-temp">
                                                        <div class="layui-btn-container">
                                                            <button class="layui-btn layui-btn-sm"
                                                                    lay-event="batch_add"> 设置备注
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="layui-hide" id="data_list3"
                                                   lay-filter="data_list"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/static/layuiadmin/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['table', 'element','jquery'], function(){
    var $ = layui.$;
    var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

    var table = layui.table;
    var form = layui.form;

    var drugs_tb = table.render({
        elem: '#data_list'
        , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
            title: '提示'
            , layEvent: 'LAYTABLE_TIPS'
            , icon: 'layui-icon-tips'
        }]
        , even:true
        , title: '用户数据表'
        , cols: [[
            {type: 'checkbox', fixed: 'left'}
            , {field: '药品HISID', title: '药品HISID', width:100, sort: true, fixed: 'left'}
            , {field: '通用名', title: '通用名', width: 150, sort: true, fixed: 'left'}
            , {field: '商品名', title: '商品名', width: 100}
            , {field: '规格', title: '规格', width: 100}
            , {field: '包装', title: '包装', width: 100}
            , {field: '厂家', title: '厂家', width: 200}
            , {field: '批准文号', title: '批准文号', width: 100}
            , {field: '标签', title: '标签', width: 100, sort: true}
            , {field: '上传时间', title: '上传时间', width: 120, sort: true}
            , {field: '上传人员', title: '上传人员', width: 100, sort: true}
            , {field: '最后操作时间', title: '最后操作时间', width: 150, sort: true}
            , {field: '最后操作人', title: '最后操作人', width: 150, sort: true}
            , {field: '校验结果', title: '校验结果', width: 150, sort: true, fixed: 'right'}
            , {field: '原因', title: '原因', width: 200, sort: true, fixed: 'right'}
        ]]
        ,data:[
            {"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"通过", "原因":""}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"不通过", "原因":"存在重复HISID<a class='layui-btn layui-btn-xs' href='javascript:void(0)' onclick='showdiff()'>查看</a>"}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"不通过", "原因":"HISID已入库<a class='layui-btn layui-btn-xs' href='javascript:void(0)' onclick='showdiff()'>查看</a>"}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"不通过-->通过", "原因":"缺少厂家-->忽略厂家关联"}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"不通过", "原因":"缺少规格"}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"不通过", "原因":"缺少包装"}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"通过", "原因":""}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"通过", "原因":""}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"通过", "原因":""}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"通过", "原因":""}
        ]
        , page: true
    });


    var drugs_tb2 = table.render({
        elem: '#data_list2'
        , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
            title: '提示'
            , layEvent: 'LAYTABLE_TIPS'
            , icon: 'layui-icon-tips'
        }]
        , even:true
        , title: '用户数据表'
        , cols: [[
            {type: 'checkbox', fixed: 'left'}
            , {field: '药品HISID', title: '药品HISID', width:100, sort: true}
            , {field: '通用名', title: '通用名', width: 150, sort: true}
            , {field: '商品名', title: '商品名', width: 100}
            , {field: '规格', title: '规格', width: 100}
            , {field: '包装', title: '包装', width: 100}
            , {field: '厂家', title: '厂家', width: 200}
            , {field: '批准文号', title: '批准文号', width: 100}
            , {field: '标签', title: '标签', width: 100, sort: true}
            , {field: '生产进度', title: '生产进度', width: 100, sort: true}
            , {field: '上传时间', title: '上传时间', width: 120, sort: true}
            , {field: '上传人员', title: '上传人员', width: 100, sort: true}
            , {field: '最后操作时间', title: '最后操作时间', width: 150, sort: true}
            , {field: '最后操作人', title: '最后操作人', width: 120, sort: true}
            , {field: '校验结果', title: '校验结果', width: 150, sort: true}
            , {field: '原因', title: '原因', width: 200, sort: true}
        ]]
        ,data:[
            {"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","生产进度":"<a style='color:green;'>已完成</a>","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"通过", "原因":""}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","生产进度":"<a style='color:red;'>未完成</a>","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"不通过", "原因":"存在重复HISID<a class='layui-btn layui-btn-xs' href='javascript:void(0)' onclick='showdiff()'>查看</a>"}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"不通过", "原因":"HISID已入库<a class='layui-btn layui-btn-xs' href='javascript:void(0)' onclick='showdiff()'>查看</a>"}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"不通过-->通过", "原因":"缺少厂家-->忽略厂家关联"}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"不通过", "原因":"缺少规格"}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"不通过", "原因":"缺少包装"}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"通过", "原因":""}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"通过", "原因":""}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"通过", "原因":""}
            ,{"运营任务":"北京宣武医院20180201", "药品HISID":"01010101011", "通用名":"通用名", "商品名":"商品名", "规格":"规格","包装":"包装","厂家":"厂家","上传时间":"2020-02-01","上传人员":"张三","最后操作时间":"2020-02-01","最后操作人":"张三", "校验结果":"通过", "原因":""}
        ]
        , page: true
    });


    var drugs_tb3 = table.render({
        elem: '#data_list3'
        , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
            title: '提示'
            , layEvent: 'LAYTABLE_TIPS'
            , icon: 'layui-icon-tips'
        }]
        , even:true
        , title: '用户数据表'
        , cols: [[
            {type: 'checkbox', fixed: 'left'}
            , {field: '文件名', title: '文件名', sort: true}
            , {field: '备注', title: '备注', sort: true}
            , {field: '上传时间', title: '上传时间', width: 200, sort: true}
            , {field: '上传人员', title: '上传人员', width: 120, sort: true}
        ]]
        ,data:[
            {"文件名":"北京宣武医院20180201", "上传时间":"2020-02-01 09:10:00","上传人员":"张三"}
            ,{"文件名":"北京宣武医院20180201", "上传时间":"2020-02-01 09:10:00","上传人员":"张三"}
            ,{"文件名":"北京宣武医院20180201", "上传时间":"2020-02-01 09:10:00","上传人员":"张三"}
            ,{"文件名":"北京宣武医院20180201", "上传时间":"2020-02-01 09:10:00","上传人员":"张三"}
            ,{"文件名":"北京宣武医院20180201", "上传时间":"2020-02-01 09:10:00","上传人员":"张三"}
            ,{"文件名":"北京宣武医院20180201", "上传时间":"2020-02-01 09:10:00","上传人员":"张三"}
            ,{"文件名":"北京宣武医院20180201", "上传时间":"2020-02-01 09:10:00","上传人员":"张三"}
            ,{"文件名":"北京宣武医院20180201", "上传时间":"2020-02-01 09:10:00","上传人员":"张三"}
            ,{"文件名":"北京宣武医院20180201", "上传时间":"2020-02-01 09:10:00","上传人员":"张三"}
        ]
        , page: true
    });

    //头工具栏事件
    table.on('toolbar(data_list)', function (obj) {
        var checkStatus = table.checkStatus(obj.config.id);
        switch (obj.event) {
            case 'batch_add':
                var data = checkStatus.data;
                layer.alert(JSON.stringify(data));
                break;
            case 'batch_edit':
                var data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
                break;
            case 'batch_del':
                layer.msg(checkStatus.isAll ? '全选' : '未全选');
                break;

            //自定义头工具栏右侧图标 - 提示
            case 'LAYTABLE_TIPS':
                layer.alert('这是工具栏右侧自定义的一个图标按钮');
                break;
        };
    });

    //监听行工具事件
    table.on('tool(data_list)', function (obj) {
        var data = obj.data;
        //console.log(obj)
        if (obj.event === 'rules') {
            newTab('/customer_data/cus_rules/one_obj_condi/?module={{ module }}&object_id=' + data.druginfo_commercial_id, data.aliascn+'-{{ module_desc }}')
        } else if (obj.event === 'manual') {
        }
    });

    //监听提交
    form.on('submit(LAY-app-contlist-search)', function(data){
        drugs_tb.reload({
            where:{
                drug_name: data.field.drug_name
            }
            ,page: {
                curr: 1 //重新从第 1 页开始
            }
        });
        return false;
    });

<!--    $(document).on("click", ".layui-table-body table.layui-table tbody tr", function () {-->
<!--        var index = $(this).attr('data-index');-->
<!--        var tableBox = $(this).parents('.layui-table-box');-->
<!--        //存在固定列-->
<!--        if (tableBox.find(".layui-table-fixed.layui-table-fixed-l").length > 0) {-->
<!--            tableDiv = tableBox.find(".layui-table-fixed.layui-table-fixed-l");-->
<!--        } else {-->
<!--            tableDiv = tableBox.find(".layui-table-body.layui-table-main");-->
<!--        }-->
<!--        var checkCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-checkbox div.layui-form-checkbox I");-->
<!--        if (checkCell.length > 0) {-->
<!--            checkCell.click();-->
<!--        }-->
<!--    });-->

<!--    //对td的单击事件进行拦截停止，防止事件冒泡再次触发上述的单击事件（Table的单击行事件不会拦截，依然有效）-->
<!--    $(document).on("click", "td div.laytable-cell-checkbox div.layui-form-checkbox", function (e) {-->
<!--        e.stopPropagation();-->
<!--    });-->

    $("#btn_search_more").click(function(){
        $("#div_search_more").toggle();
    });

    $("#btn_search_more2").click(function(){
        $("#div_search_more2").toggle();
    });

    $("#uploadfile").on('click', function(){
        //多窗口模式，层叠置顶
        layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['80%', '95%']
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/common/uploadfile/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
                layer.closeAll();
            }
            ,btn2: function(){
                layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
                layer.setTop(layero); //重点2
            }
        });
    });

    $("#upload_all").on('click', function(){
        //多窗口模式，层叠置顶
        layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['80%', '95%']
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/common/uploadfile/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
                layer.closeAll();
            }
            ,btn2: function(){
                layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
                layer.setTop(layero); //重点2
            }
        });
    });

    $("#set_check_result").on('click', function(){
        //多窗口模式，层叠置顶
        layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['50%', '50%']
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/opt/my/set_check_result/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
                layer.closeAll();
            }
            ,btn2: function(){
                layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
                layer.setTop(layero); //重点2
            }
        });
    });

    $("#add_opt_task").on('click', function(){
        //多窗口模式，层叠置顶
        layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['50%', '50%']
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/opt/my/add_opt_task/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
                layer.closeAll();
            }
            ,btn2: function(){
                layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
                layer.setTop(layero); //重点2
            }
        });
    });

    $("#add_opt_task_all").on('click', function(){
        //多窗口模式，层叠置顶
        layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['50%', '50%']
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/opt/my/add_opt_task/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
                layer.closeAll();
            }
            ,btn2: function(){
                layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
                layer.setTop(layero); //重点2
            }
        });
    });



});







</script>
<script>
    function newTab(url, tit) {
<!--        window.location = url;-->
        if (top.layui.index) {
            top.layui.index.openTabsPage(url, tit)
        } else {
            window.open(url)
        }
    }







</script>
<script>
function showdiff(){
    //多窗口模式，层叠置顶
    layer.open({
        type: 2 //此处以iframe举例
        ,title: '选择数据'
        ,area: ['80%', '50%']
        ,shadeClose: false
        ,maxmin: false
        ,offset: 'auto'
        ,scrollbar: false
        ,content: '/opt/my/check_detail/'
        ,btn: ['关闭'] //只是为了演示
        ,yes: function(){
            layer.closeAll();
        }
        ,btn2: function(){
            layer.closeAll();
        }
        ,zIndex: layer.zIndex //重点1
        ,success: function(layero){
            layer.setTop(layero); //重点2
        }
    });
}






</script>
</body>
</html>