<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>审核依据</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <link rel="stylesheet" href="/static/phhc/css/phhc.css" media="all">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">我的运营任务
                    <div class="layui-inline" style="float:right; display:none;">
                        <button class="layui-btn layui-btn-primary layui-btn-sm"
                                onclick="newTab('','')">返回列表
                        </button>
                    </div>
                </div>
                <div class="layui-card-body">
                    <div class="layui-form layui-card-header layuiadmin-card-header-auto">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width:60px;">客户编码</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="drug_name" placeholder="请输入" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width:60px;">客户名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="drug_name" placeholder="请输入" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width:60px;">任务名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="drug_name" placeholder="名称或拼音首字母" autocomplete="off"
                                           class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label" style="width:60px;">处理进度</label>
                                <div class="layui-input-inline" style="width:100px;">
                                    <select name="interest" lay-filter="aihao">
                                        <option value=""></option>
                                        <option value="0">进行中</option>
                                        <option value="1">已完成</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layuiadmin-btn-list layui-btn-sm" lay-submit=""
                                        lay-filter="LAY-app-contlist-search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                </button>
                                <button class="layui-btn layui-btn-primary layui-btn-sm"
                                        id="btn_search_more" style=" display:none;">更多
                                </button>
                            </div>

                        </div>
                    </div>
                    <div class="layui-form layui-border-box layui-table-view"
                         lay-filter="LAY-table-1" lay-id="data_list"
                         style=" border-bottom-width:0px;">
                        <div class="layui-table-tool">
                            <div class="layui-table-tool-temp">
                                <div class="layui-btn-container">
                                    <button class="layui-btn layui-btn-sm">设置处理进度
                                    </button>
                                    <button class="layui-btn layui-btn-sm">查看实施运维汇总表
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="layui-hide" id="data_list" lay-filter="data_list"></table>
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-xs" lay-event="detail">详细列表</a>
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/layuiadmin/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->

<script>
    layui.use(['table','form'], function () {
        var table = layui.table;
        var $ = layui.jquery;
        var form = layui.form;

        var drugs_tb = table.render({
            elem: '#data_list'
<!--            , url: '/rules_data/module/objects_data/{{ module }}'-->
<!--            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板-->
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , title: '用户数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: '客户名称', title: '客户名称', width: 150, fixed: 'left', sort: true}
                , {field: '运营任务', title: '运营任务', width: 250, fixed: 'left', sort: true}
                , {field: '处理进度', title: '处理进度', width: 120, sort: true}
                , {field: '处理进度明细(采集/映射/生产)', title: '处理进度明细(采集/映射/生产)', width: 400, sort: true}
                , {field: '处理结果明细(采集/映射/生产)', title: '处理结果明细(采集/映射/生产)', width: 400, sort: true}
                , {field: '创建时间', title: '创建时间', width: 150, sort: true}
                , {field: '创建人', title: '创建人', width: 100, sort: true}
                , {field: '最后操作时间', title: '最后操作时间', width: 150, sort: true}
                , {field: '最后操作人', title: '最后操作人', width: 120, sort: true}
                , {field: '操作', title: '操作', width: 150, fixed: 'right', toolbar: '#barDemo'}
            ]]
            ,data:[
                    {"客户编码":"22718115", "客户名称":"北京宣武医院", "运营任务":"北京宣武医院20210401","处理进度":"进行中", "处理进度明细(采集/映射/生产)":"【药品】2000/2000/2000（完成）<br>【诊断】2000/2000/2000（完成）<br>【给药途径】200/200（完成）【给药频率】200/200（完成）", "处理结果明细(采集/映射/生产)":"【药品】2000/1900/1900<br>【诊断】2000/2000/2000<br>【给药途径】200/200【给药频率】200/200【给药单位】200/200", "状态":"进行中", "创建人":"daigx", "创建时间":"2021-04-30"}
                    ,{"客户编码":"22718115", "客户名称":"北京宣武医院", "运营任务":"北京宣武医院20210401","处理进度":"进行中", "处理进度明细(采集/映射/生产)":"【药品】2000/2000/2000（完成）<br>【诊断】2000/2000/2000（完成）<br>【给药途径】200/200（完成）【给药频率】200/200（完成）", "处理结果明细(采集/映射/生产)":"【药品】2000/1900/1900<br>【诊断】2000/2000/2000<br>【给药途径】200/200【给药频率】200/200【给药单位】200/200", "状态":"进行中", "创建人":"daigx", "创建时间":"2021-04-30"}
            ]
            , page: true
        });

        //监听行工具事件
        table.on('tool(data_list)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'detail') {
                newTab('/opt/my/opt_task_detail/','运营任务详细信息')
            }
        });

        //监听提交
      form.on('submit(LAY-app-contlist-search)', function(data){
        drugs_tb.reload({
            where:{
                drug_name: data.field.drug_name
            }
            ,page: {
                curr: 1 //重新从第 1 页开始
            }
        });
        return false;
      });


          $(document).on("click", ".layui-table-body table.layui-table tbody tr", function () {
            var index = $(this).attr('data-index');
            var tableBox = $(this).parents('.layui-table-box');
            //存在固定列
            if (tableBox.find(".layui-table-fixed.layui-table-fixed-l").length > 0) {
                tableDiv = tableBox.find(".layui-table-fixed.layui-table-fixed-l");
            } else {
                tableDiv = tableBox.find(".layui-table-body.layui-table-main");
            }
            var checkCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-checkbox div.layui-form-checkbox I");
            if (checkCell.length > 0) {
                checkCell.click();
            }
        });

        //对td的单击事件进行拦截停止，防止事件冒泡再次触发上述的单击事件（Table的单击行事件不会拦截，依然有效）
        $(document).on("click", "td div.laytable-cell-checkbox div.layui-form-checkbox", function (e) {
            e.stopPropagation();
        });
    });







</script>
<script>
    function newTab(url, tit) {
        window.location = url;
<!--        if (top.layui.index) {-->
<!--            top.layui.index.openTabsPage(url, tit)-->
<!--        } else {-->
<!--            window.open(url)-->
<!--        }-->
    }




</script>
</body>
</html>