<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>开始运营工作</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/layuiadmin/style/admin.css" media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <link rel="stylesheet" href="/static/phhc/css/global.css" media="all">
    <link rel="stylesheet" href="/static/phhc/css/phhc.css" media="all">
</head>
<body>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">数据生产范围</div>
                <div class="layui-card-body">
                    <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                         style="padding:0px;">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label"
                                       style="width:90px;">客户名称</label>
                                <div class="layui-input-inline">
                                    <select name="modules" lay-search="">
                                        <option value=""></option>
                                        <option value="1">宣武医院</option>
                                        <option value="0">儿童医院</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"
                                       style="width:90px;">上传时间</label>
                                <div class="layui-input-inline">
                                    <select name="modules" lay-search="">
                                        <option value=""></option>
                                        <option value="1">2021-03-01</option>
                                        <option value="0">2021-01-01</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"
                                       style="width:90px;">运营人员</label>
                                <div class="layui-input-inline">
                                    <select name="modules" lay-search="">
                                        <option value=""></option>
                                        <option value="1">ligl</option>
                                        <option value="0">xiaoxiang</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label"
                                       style="width:90px;">任务</label>
                                <div class="layui-input-inline">
                                    <select name="modules" lay-search="">
                                        <option value=""></option>
                                        <option value="1">宣武2021-02-01</option>
                                        <option value="0">儿童2021-02-01</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button class="layui-btn layui-btn-sm"
                                        lay-submit=""
                                        lay-filter="LAY-app-contlist-search">
                                    <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                </button>
                                <button class="layui-btn layui-btn-sm">保存搜索条件</button>
                                <button class="layui-btn layui-btn-sm">选择历史搜索条件</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-card">
                <div class="layui-row">
                    <div class="layui-col-md1" style="border-right: 1px solid #eee;">
                        <div class="layui-card">
                            <div class="site-tree">
                                <ul class="layui-tree">
                                    <li><h2 style="margin:0px;">商品药物数据总表</h2></li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my_phdata_disease/">
                                            <cite>诊断数据总表</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                    <li class="site-tree-noicon ">
                                        <a href="/opt/my_phdata_rule/">
                                            <cite>规则数据总表</cite>
                                            <em></em>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md11">
                        <div class="layui-card">
                            <div class="layui-form layui-card-header layuiadmin-card-header-auto"
                                 style="padding:0px;">
                                <div class="layui-form-item">
                                    <div class="layui-inline">
                                        <label class="layui-form-label"
                                               style="width:60px;">药品名称</label>
                                        <div class="layui-input-inline">
                                            <input type="text" name="drug_name"
                                                   placeholder="请输入"
                                                   autocomplete="off"
                                                   class="layui-input">
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label"
                                               style="width:60px;">所属客户</label>
                                        <div class="layui-input-inline">
                                            <select name="modules" lay-search="">
                                                <option value=""></option>
                                                <option value="1">北京宣武医院</option>
                                                <option value="2">北京儿童医院</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label"
                                               style="width:60px;">数据项目</label>
                                        <div class="layui-input-inline">
                                            <select name="modules" lay-search="">
                                                <option value=""></option>
                                                <option value="6">药品完成状态</option>
                                                <option value="1">基础药物</option>
                                                <option value="2">通用药物</option>
                                                <option value="3">通用药物分类</option>
                                                <option value="4">药品说明书</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label"
                                               style="width:60px;">进度</label>
                                        <div class="layui-input-inline">
                                            <select name="modules" lay-search="">
                                                <option value=""></option>
                                                <option value="1">已完成</option>
                                                <option value="0">未完成</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <label class="layui-form-label"
                                               style="width:90px;">未完成原因</label>
                                        <div class="layui-input-inline">
                                            <select name="modules" lay-search="">
                                                <option value=""></option>
                                                <option value="1">注射剂</option>
                                                <option value="0">溶媒</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="layui-inline">
                                        <button class="layui-btn layui-btn-sm"
                                                lay-submit=""
                                                lay-filter="LAY-app-contlist-search">
                                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                                        </button>
                                        <button class="layui-btn layui-btn-primary layui-btn-sm"
                                                id="btn_search_more" style=" display:none;">更多
                                        </button>
                                    </div>
                                    <div class="layui-block" style=" display:none;"
                                         id="div_search_more"></div>
                                </div>
                            </div>
                            <div class="layui-card-body"
                                 style="padding:10px 0px 0px 0px;">
                                <div class="layui-form layui-border-box layui-table-view"
                                     lay-filter="LAY-table-1" lay-id="data_list"
                                     style=" border-bottom-width:0px; ">
                                    <div class="layui-table-tool">
                                        <div class="layui-table-tool-temp">
                                            <div class="layui-btn-container">
                                                <button class="layui-btn layui-btn-sm">下载未生产数据表</button>
                                                <button class="layui-btn layui-btn-sm" id="set_check_item">设置生产完成校验项目
                                                </button>
                                                <button class="layui-btn layui-btn-sm layui-btn-normal"
                                                        style=" display:none;">手动执行重新校验
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <table class="layui-hide" id="data_list"
                                       lay-filter="data_list"></table>
                                <script type="text/html" id="barDemo">
                                    <a class="layui-btn layui-btn-xs" lay-event="detail">详细信息</a>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/static/layuiadmin/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['table', 'element','jquery'], function(){
    var $ = layui.$;
    var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块

    var table = layui.table;
    var form = layui.form;

    var drugs_tb = table.render({
            elem: '#data_list'
<!--            , url: '/rules_data/module/objects_data/{{ module }}'-->
<!--            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板-->
            , defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }]
            , even:true
            , title: '用户数据表'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: '商品药物信息', title: '商品药物信息', width: 300, fixed: 'left'}
                , {field: '所属客户数', title: '所属客户数', width: 120, fixed: 'left', sort:true}
                , {field: '当前任务客户数', title: '当前任务客户数', width: 150, fixed: 'left', sort:true}
                , {field: '处理进度', title: '处理进度', width: 110, fixed: 'left', sort:true}
                , {field: '未完成原因', title: '未完成原因', width: 150, fixed: 'left', sort:true}

                , {field: '基础药物', title: '基础药物', width: 90}
                , {field: '通用药物', title: '通用药物', width: 90}
                , {field: '通用药物分类', title: '通用药物分类', width: 120}

                , {field: '自身说明书', title: '自身说明书', width: 100}
                , {field: '审核用说明书', title: '审核用说明书', width: 120}
                , {field: '代表品说明书', title: '代表品说明书', width: 120}

                , {field: '成分', title: '成分', width: 60}
                , {field: '活性成分', title: '活性成分', width: 90}
                , {field: '规格拆分', title: '规格拆分', width: 90}
                , {field: '包装拆分', title: '包装拆分', width: 90}

                , {field: '作用部位', title: '作用部位', width: 90}

                , {field: '毒性药品', title: '毒性药品', width: 90}
                , {field: '麻醉药品', title: '麻醉药品', width: 90}
                , {field: '精神药品', title: '精神药品', width: 90}
                , {field: '放射性药品', title: '放射性药品', width: 110}
                , {field: '血液制剂', title: '血液制剂', width: 90}
                , {field: '生物制剂', title: '生物制剂', width: 90}
                , {field: '糖皮质激素', title: '糖皮质激素', width: 110}
                , {field: '辅助用药', title: '辅助用药', width: 90}
                , {field: '抗肿瘤药品', title: '抗肿瘤药品', width: 110}
                , {field: '止痛三阶梯', title: '止痛三阶梯', width: 110}
                , {field: '抗菌药物', title: '抗菌药物', width: 90}
                , {field: 'DDD', title: 'DDD', width: 80}
                , {field: '基本药物', title: '基本药物', width: 90}
                , {field: '医保药物（甲）', title: '医保药物（甲）', width: 130}
                , {field: 'OTC（甲）', title: 'OTC（甲）', width: 110}
                , {field: '注射剂', title: '注射剂', width: 80}
                , {field: '溶质', title: '溶质', width: 60}
                , {field: '溶媒', title: '溶媒', width: 60}

<!--                , {field: '适应症规则', title: '适应症规则', width: 100}-->
<!--                , {field: '人群规则', title: '人群规则', width: 90}-->
<!--                , {field: '禁忌症规则', title: '禁忌症规则', width: 100}-->
<!--                , {field: '过敏规则', title: '过敏规则', width: 90}-->
<!--                , {field: '用法用量规则', title: '用法用量规则', width: 120}-->
<!--                , {field: '药品溶配标记', title: '药品溶配标记', width: 120}-->
<!--                , {field: '溶媒适宜性规则', title: '溶媒适宜性规则', width: 130}-->

                , {field: '创建时间', title: '创建时间', width: 120, sort: true}
                , {field: '创建人', title: '创建人', width: 90, sort: true}
                , {field: '最后操作时间', title: '最后操作时间', width: 130, sort: true}
                , {field: '最后操作人', title: '最后操作人', width: 120, sort: true}
                , {field: '操作', title: '操作', width: 100, fixed: 'right', toolbar: '#barDemo'}
            ]]
            ,data:[
                    {"商品药物信息":"【通用名】【商品名】【规格】【包装】【厂家】","所属客户数":"50","当前任务客户数":"2", "处理进度":"完成", "基础药物":"完成", "通用药物":"完成", "通用药物分类":"完成", "自身说明书":"完成","审核用说明书":"完成"
                        ,"代表品说明书":"完成","成分":"完成","活性成分":"完成","规格拆分":"完成","包装拆分":"完成",'作用部位':'完成','毒性药品':'完成','麻醉药品':'完成','精神药品':'完成'
                        ,'放射性药品':'完成','血液制剂':'完成','生物制剂':'完成','糖皮质激素':'完成','辅助用药':'完成','抗肿瘤药品':'完成','止痛三阶梯':'完成','抗菌药物':'完成'
                        ,'DDD':'完成','基本药物':'完成','医保药物（甲）':'完成','OTC（甲）':'完成','注射剂':'完成','溶质':'完成','溶媒':'完成'
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"商品药物信息":"【通用名】【商品名】【规格】【包装】【厂家】","所属客户数":"2", "处理进度":"完成", "基础药物":"完成", "通用药物":"完成", "通用药物分类":"完成", "自身说明书":"完成","审核用说明书":"完成"
                        ,"代表品说明书":"完成","成分":"完成","活性成分":"完成","规格拆分":"完成","包装拆分":"完成",'作用部位':'完成','毒性药品':'完成','麻醉药品':'完成','精神药品':'完成'
                        ,'放射性药品':'完成','血液制剂':'完成','生物制剂':'完成','糖皮质激素':'完成','辅助用药':'完成','抗肿瘤药品':'完成','止痛三阶梯':'完成','抗菌药物':'完成'
                        ,'DDD':'完成','基本药物':'完成','医保药物（甲）':'完成','OTC（甲）':'完成','注射剂':'完成','溶质':'完成','溶媒':'完成'
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"商品药物信息":"【通用名】【商品名】【规格】【包装】【厂家】","所属客户数":"2", "处理进度":"完成", "基础药物":"完成", "通用药物":"完成", "通用药物分类":"完成", "自身说明书":"完成","审核用说明书":"完成"
                        ,"代表品说明书":"完成","成分":"完成","活性成分":"完成","规格拆分":"完成","包装拆分":"完成",'作用部位':'完成','毒性药品':'完成','麻醉药品':'完成','精神药品':'完成'
                        ,'放射性药品':'完成','血液制剂':'完成','生物制剂':'完成','糖皮质激素':'完成','辅助用药':'完成','抗肿瘤药品':'完成','止痛三阶梯':'完成','抗菌药物':'完成'
                        ,'DDD':'完成','基本药物':'完成','医保药物（甲）':'完成','OTC（甲）':'完成','注射剂':'完成','溶质':'完成','溶媒':'完成'
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"商品药物信息":"【通用名】【商品名】【规格】【包装】【厂家】","所属客户数":"2", "处理进度":"完成", "基础药物":"完成", "通用药物":"完成", "通用药物分类":"完成", "自身说明书":"完成","审核用说明书":"完成"
                        ,"代表品说明书":"完成","成分":"完成","活性成分":"完成","规格拆分":"完成","包装拆分":"完成",'作用部位':'完成','毒性药品':'完成','麻醉药品':'完成','精神药品':'完成'
                        ,'放射性药品':'完成','血液制剂':'完成','生物制剂':'完成','糖皮质激素':'完成','辅助用药':'完成','抗肿瘤药品':'完成','止痛三阶梯':'完成','抗菌药物':'完成'
                        ,'DDD':'完成','基本药物':'完成','医保药物（甲）':'完成','OTC（甲）':'完成','注射剂':'完成','溶质':'完成','溶媒':'完成'
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"商品药物信息":"【通用名】【商品名】【规格】【包装】【厂家】","所属客户数":"1", "处理进度":"完成", "基础药物":"完成", "通用药物":"完成", "通用药物分类":"完成", "自身说明书":"完成","审核用说明书":"完成"
                        ,"代表品说明书":"完成","成分":"完成","活性成分":"完成","规格拆分":"完成","包装拆分":"完成",'作用部位':'完成','毒性药品':'完成','麻醉药品':'完成','精神药品':'完成'
                        ,'放射性药品':'完成','血液制剂':'完成','生物制剂':'完成','糖皮质激素':'完成','辅助用药':'完成','抗肿瘤药品':'完成','止痛三阶梯':'完成','抗菌药物':'完成'
                        ,'DDD':'完成','基本药物':'完成','医保药物（甲）':'完成','OTC（甲）':'完成','注射剂':'完成','溶质':'完成','溶媒':'完成'
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"商品药物信息":"【通用名】【商品名】【规格】【包装】【厂家】","所属客户数":"1", "处理进度":"<span style='color:red;'>未完成</span>", "未完成原因":"注射剂、溶媒、溶质", "基础药物":"完成", "通用药物":"完成", "通用药物分类":"完成", "自身说明书":"完成","审核用说明书":"完成"
                        ,"代表品说明书":"完成","成分":"完成","活性成分":"完成","规格拆分":"完成","包装拆分":"完成",'作用部位':'完成','毒性药品':'完成','麻醉药品':'完成','精神药品':'完成'
                        ,'放射性药品':'完成','血液制剂':'完成','生物制剂':'完成','糖皮质激素':'完成','辅助用药':'完成','抗肿瘤药品':'完成','止痛三阶梯':'完成','抗菌药物':'完成'
                        ,'DDD':'完成','基本药物':'完成','医保药物（甲）':'完成','OTC（甲）':'完成','注射剂':"<span style='color:red;'>未完成</span>",'溶质':'完成','溶媒':'完成'
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"商品药物信息":"【通用名】【商品名】【规格】【包装】【厂家】","所属客户数":"1", "处理进度":"<span style='color:red;'>未完成</span>", "基础药物":"完成", "通用药物":"完成", "通用药物分类":"完成", "自身说明书":"完成","审核用说明书":"完成"
                        ,"代表品说明书":"完成","成分":"完成","活性成分":"完成","规格拆分":"完成","包装拆分":"完成",'作用部位':'完成','毒性药品':'完成','麻醉药品':'完成','精神药品':'完成'
                        ,'放射性药品':'完成','血液制剂':'完成','生物制剂':'完成','糖皮质激素':'完成','辅助用药':'完成','抗肿瘤药品':'完成','止痛三阶梯':'完成','抗菌药物':'完成'
                        ,'DDD':'完成','基本药物':'完成','医保药物（甲）':'完成','OTC（甲）':'完成','注射剂':"<span style='color:red;'>未完成</span>",'溶质':'完成','溶媒':'完成'
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"商品药物信息":"【通用名】【商品名】【规格】【包装】【厂家】","所属客户数":"1", "处理进度":"<span style='color:red;'>未完成</span>", "基础药物":"完成", "通用药物":"完成", "通用药物分类":"完成", "自身说明书":"完成","审核用说明书":"完成"
                        ,"代表品说明书":"完成","成分":"完成","活性成分":"完成","规格拆分":"完成","包装拆分":"完成",'作用部位':'完成','毒性药品':'完成','麻醉药品':'完成','精神药品':'完成'
                        ,'放射性药品':'完成','血液制剂':'完成','生物制剂':'完成','糖皮质激素':'完成','辅助用药':'完成','抗肿瘤药品':'完成','止痛三阶梯':'完成','抗菌药物':'完成'
                        ,'DDD':'完成','基本药物':'完成','医保药物（甲）':'完成','OTC（甲）':'完成','注射剂':"<span style='color:red;'>未完成</span>",'溶质':'完成','溶媒':'完成'
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"商品药物信息":"【通用名】【商品名】【规格】【包装】【厂家】","所属客户数":"1", "处理进度":"<span style='color:red;'>未完成</span>", "基础药物":"完成", "通用药物":"完成", "通用药物分类":"完成", "自身说明书":"完成","审核用说明书":"完成"
                        ,"代表品说明书":"完成","成分":"完成","活性成分":"完成","规格拆分":"完成","包装拆分":"完成",'作用部位':'完成','毒性药品':'完成','麻醉药品':'完成','精神药品':'完成'
                        ,'放射性药品':'完成','血液制剂':'完成','生物制剂':'完成','糖皮质激素':'完成','辅助用药':'完成','抗肿瘤药品':'完成','止痛三阶梯':'完成','抗菌药物':'完成'
                        ,'DDD':'完成','基本药物':'完成','医保药物（甲）':'完成','OTC（甲）':'完成','注射剂':"<span style='color:red;'>未完成</span>",'溶质':'完成','溶媒':'完成'
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"商品药物信息":"【通用名】【商品名】【规格】【包装】【厂家】","所属客户数":"1", "处理进度":"<span style='color:red;'>未完成</span>", "基础药物":"完成", "通用药物":"完成", "通用药物分类":"完成", "自身说明书":"完成","审核用说明书":"完成"
                        ,"代表品说明书":"完成","成分":"完成","活性成分":"完成","规格拆分":"完成","包装拆分":"完成",'作用部位':'完成','毒性药品':'完成','麻醉药品':'完成','精神药品':'完成'
                        ,'放射性药品':'完成','血液制剂':'完成','生物制剂':'完成','糖皮质激素':'完成','辅助用药':'完成','抗肿瘤药品':'完成','止痛三阶梯':'完成','抗菌药物':'完成'
                        ,'DDD':'完成','基本药物':'完成','医保药物（甲）':'完成','OTC（甲）':'完成','注射剂':"<span style='color:red;'>未完成</span>",'溶质':'完成','溶媒':'完成'
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
                    ,{"商品药物信息":"【通用名】【商品名】【规格】【包装】【厂家】","所属客户数":"1", "处理进度":"<span style='color:red;'>未完成</span>", "基础药物":"完成", "通用药物":"完成", "通用药物分类":"完成", "自身说明书":"完成","审核用说明书":"完成"
                        ,"代表品说明书":"完成","成分":"完成","活性成分":"完成","规格拆分":"完成","包装拆分":"完成",'作用部位':'完成','毒性药品':'完成','麻醉药品':'完成','精神药品':'完成'
                        ,'放射性药品':'完成','血液制剂':'完成','生物制剂':'完成','糖皮质激素':'完成','辅助用药':'完成','抗肿瘤药品':'完成','止痛三阶梯':'完成','抗菌药物':'完成'
                        ,'DDD':'完成','基本药物':'完成','医保药物（甲）':'完成','OTC（甲）':'完成','注射剂':"<span style='color:red;'>未完成</span>",'溶质':'完成','溶媒':'完成'
                        ,"创建时间":"2020-02-01","创建人":"张三","最后操作时间":"2020-02-01","最后操作人":"张三"}
            ]
            , page: true
        });

        //头工具栏事件
        table.on('toolbar(data_list)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'batch_add':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'batch_edit':
                    var data = checkStatus.data;
                    layer.msg('选中了：' + data.length + ' 个');
                    break;
                case 'batch_del':
                    layer.msg(checkStatus.isAll ? '全选' : '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            }
            ;
        });

        //监听行工具事件
        table.on('tool(data_list)', function (obj) {
            var data = obj.data;
            //console.log(obj)
            if (obj.event === 'rules') {
                newTab('/customer_data/cus_rules/one_obj_condi/?module={{ module }}&object_id=' + data.druginfo_commercial_id, data.aliascn+'-{{ module_desc }}')
            } else if (obj.event === 'manual') {

            }
        });

        //监听提交
      form.on('submit(LAY-app-contlist-search)', function(data){
        drugs_tb.reload({
            where:{
                drug_name: data.field.drug_name
            }
            ,page: {
                curr: 1 //重新从第 1 页开始
            }
        });
        return false;
      });

      $(document).on("click", ".layui-table-body table.layui-table tbody tr", function () {
        var index = $(this).attr('data-index');
        var tableBox = $(this).parents('.layui-table-box');
        //存在固定列
        if (tableBox.find(".layui-table-fixed.layui-table-fixed-l").length > 0) {
            tableDiv = tableBox.find(".layui-table-fixed.layui-table-fixed-l");
        } else {
            tableDiv = tableBox.find(".layui-table-body.layui-table-main");
        }
        var checkCell = tableDiv.find("tr[data-index=" + index + "]").find("td div.laytable-cell-checkbox div.layui-form-checkbox I");
        if (checkCell.length > 0) {
            checkCell.click();
        }
    });

    //对td的单击事件进行拦截停止，防止事件冒泡再次触发上述的单击事件（Table的单击行事件不会拦截，依然有效）
    $(document).on("click", "td div.laytable-cell-checkbox div.layui-form-checkbox", function (e) {
        e.stopPropagation();
    });

    $("#btn_search_more").click(function(){
        $("#div_search_more").toggle();
    });

        $("#uploadfile").on('click', function(){
            //多窗口模式，层叠置顶
          layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['80%', '95%']
    <!--        ,shade: 0-->
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/common/uploadfile/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
              layer.closeAll();
            }
            ,btn2: function(){
              layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
              layer.setTop(layero); //重点2
            }
          });
        });

        $("#set_check_result").on('click', function(){
            //多窗口模式，层叠置顶
          layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['50%', '50%']
    <!--        ,shade: 0-->
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/opt/my/set_check_result/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
              layer.closeAll();
            }
            ,btn2: function(){
              layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
              layer.setTop(layero); //重点2
            }
          });
        });

        $("#add_opt_task").on('click', function(){
            //多窗口模式，层叠置顶
          layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['50%', '50%']
    <!--        ,shade: 0-->
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/opt/my/add_opt_task/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
              layer.closeAll();
            }
            ,btn2: function(){
              layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
              layer.setTop(layero); //重点2
            }
          });
        });


    $("#set_check_item").on('click', function(){
        //多窗口模式，层叠置顶
        layer.open({
            type: 2 //此处以iframe举例
            ,title: '选择数据'
            ,area: ['80%', '80%']
            ,shadeClose: false
            ,maxmin: false
            ,offset: 'auto'
            ,scrollbar: false
            ,content: '/opt/my/prod/dict_check_item/'
            ,btn: ['保存', '取消'] //只是为了演示
            ,yes: function(){
                layer.closeAll();
            }
            ,btn2: function(){
                layer.closeAll();
            }
            ,zIndex: layer.zIndex //重点1
            ,success: function(layero){
                layer.setTop(layero); //重点2
            }
        });
    });

});







</script>
<script>
    function newTab(url, tit) {
<!--        window.location = url;-->
        if (top.layui.index) {
            top.layui.index.openTabsPage(url, tit)
        } else {
            window.open(url)
        }
    }





</script>

</body>
</html>